{% extends 'base.html' %}

{% block body %}
    
    <h2>Application Form</h2>

    <div class="instructions">
        <p>Please fill out the following information as completely as possible. First name and last name must be entered as they appear on your government ID.</p>
    </div>
    <br>

    <form action="/application" method="POST">
        <label for="field-firstname">First Name: </label>
        <input type="text" name="firstname" id="field-firstname">
        <br>

        <label for="field-lastname">Last Name: </label>
        <input type="text" name="lastname" id="field-lastname">
        <br>

        <label for="field-salary">Salary Requirement: </label>
        <input type="number" name="salary" value=0 id="field-salary">
        <br>

        <label for="field-positon">Position Desired: </label>
        <select name="position" id="field-position">
            <option value="Software Engineer">Software Engineer</option>
            <option value="Quality Assurance Engineer">QA Engineer</option>
            <option value="Product Manager">Product Manager</option>
        </select>
        <br>

        <input type="submit" value="Submit">
    
    </form>

{% endblock %}